body{
    background-color: #00bfff;
    color: #ffffff;
    width: 750px;
    margin: auto;
    text-align: center;
}
button{
    padding: 5px 20px;
    background-color: #1e90ff;
    border-color: #0000ff;
    border-style: none;
    color: #fff;
}
input{
    height: 40px;
}
h1{
    font-size: 45px;
}
